<head>
<link rel="stylesheet" type="text/css" href="battle.css">
<link rel="stylesheet" type="text/css" href="normalize.css">
<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>


<body>
  <div id="img_left">
    <img src = "http://i.imgur.com/1GPntE7.png">
  </div>
  
  <div id="img_right">
      <img src = "http://i.imgur.com/F1c01rJ.png">
  </div>
  
  <div id="container">

<% if @p1_element.weight > @p2_element.weight == true  %>

<h1><strong>
  <%= "#{$p1.name} WINS!" %>
</strong></h1>

<br>
<br>

<img src = "<%= @p1_element.comic %>" >
<br>
<br>
<p style="width:150px;"> 
  <h3> <strong><%= "#{@p1_element.name}" %></strong><%= " has the atomic weight of #{@p1_element.weight}"%> <br> 
    <%= "which destroys"%> <strong><%="#{@p2_element.name}"%></strong> <%="whose atomic weight is only #{@p2_element.weight}!" %>
</p> 

<% elsif @p1_element.weight < @p2_element.weight == true  %>

<h1><strong>
<%= "#{$p2.name} WINS!"%>
</strong> </h1>

<br>

<img src = "<%= @p2_element.comic %>">
<br>
<br>
<p style="width:150px;"> 
  <h3> <strong><%= "#{@p2_element.name}" %></strong><%= " has the atomic weight of #{@p2_element.weight}"%> <br> 
  <%= "which annihilates"%> <strong><%="#{@p1_element.name}"%></strong> <%="whose atomic weight is only  #{@p1_element.weight}!" %>
</p> 

<% else %>

<h1><strong>
Tie Game.
</strong> </h1>
<br>
<br>
<p style="width:150px;"> 
  <h3> <strong>Choose different elements next time ya' dummies.</strong></h3>
</p> 
<% end %>




<h3><a href="/startgame?p1=<%= $p1.name %>&p2=<%= $p2.name %>">Play Again</a>  |  |  <a href="/">New Game</a></h3>
 


</div>
</body>
