<head>
<link rel="stylesheet" type="text/css" href="start_game.css">
<link href='http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>

<div>
</div>

<body>
  <div id="img_left">
    <img src = "http://i.imgur.com/1GPntE7.png">
  </div>
  
  <div id="img_right">
      <img src = "http://i.imgur.com/F1c01rJ.png">
  </div>
  
<div id="container">

<p>
<h1> <b><%= "Hello #{$p1.name}!" %> </b>

<br>
  <h3>Choose Your Element!</h3>
  
  <br>
  
  <form action="/battle" method="get">
  <select name = 'p1_element'>
    <% @element_names.sort.each do |x| %>
    <option value = '<%= x %>' ><b><%= x %></b></option>
    <% end %>
    
    
  </select>

</p>

<br>
 <img src="http://i.imgur.com/fur17s2.png?1"> 
 </body>
<br>


<p>
<h1><b> <%= "Sup #{$p2.name}?" %> </b>

<br>
  <h3>Choose Your Element!</h3>
 <br>
  
  <form action="/battle" method="get">
  <select name = 'p2_element'>
    <% @element_names.sort.each do |x| %>
    <option value = '<%= x %>' ><b><%= x %></b></option>
    <% end %>
  </select>

</p>

<br>
<br>
<br>
 <input type="submit" value ="Duke it Out!">
</div>
 </body>
